.article {
    .line {
        margin-bottom: 10px;
    }


    .fixed-card {
        position: sticky;
        top: 84px;

        .ant-card-body {

            padding: 0;
            padding-bottom: 24px;
        }

        .right-title {
            height: 45px;
            line-height: 45px;
            background-color: #49b1f5;
            border-radius: 8px 8px 0 0;
            padding-left: 32px;
            color: white;
        }
    }

    .catalog {
        margin-left: 24px;
        margin-top: 24px;
    }

    .comment {
        .comment-input{
            position: relative;
            width: 100%;
            min-height: 150px;
            border: 1px solid rgba(195, 195, 202, 0.8) ;
            border-radius: 20px;
            margin-bottom: 20px;
            padding: 10px;
        }
        .comment-info {
            width: 100%;
            

        }
    }

    .comment-parent {


        .children {
            width: 95%;
            background-color: rgba(247, 248, 250, .8);
            padding: 10px;
            margin-left: 40px;
        }
    }
}
.comment-item:hover .comment-parent_top .opt{
    display: inline-block;
}
.comment-item {
    .comment-parent_top {
        position: relative;

        .opt {
            position: absolute;
            right: 10px;
            bottom: 5px;
            display: none;
        }
    }
    
    .comment-parent_content {
        margin-left: 40px;

        .reply {
            margin: 10px 0;
        }

        p {
            margin: 10px 0;

            a {
                margin-right: 2px;
            }
        }

    }
}



.article-list {
    a:hover {
        color: #8e8cd8 !important;
    }

    li {
        float: left;
        width: 30%;
        margin-left: 25px;
        margin-top: 25px;

        img {
            width: 100%;
        }

        .article-item-info {
            line-height: 1.7;
            font-size: 15px;
            color: #65615f;

            a {
                color: #65615f;

            }
        }

        .tag-wrapper {
            .tag-btn {
                display: inline-block;
                color: #fff !important;
                font-size: 0.725rem;
                line-height: 22px;
                height: 22px;
                border-radius: 10px;
                padding: 0 12px !important;
                background: linear-gradient(to right, #bf4643 0%, #6c9d8f 100%);
                opacity: 0.6;
                margin-right: 0.5rem;
                margin-top: 0.5rem;
                cursor: pointer;
            }
        }

    }

}