.article {
    .line {
        margin-bottom: 10px;
    }


    .fixed-card {
        position: sticky;
        top: 84px;

        .ant-card-body {

            padding: 0;
            padding-bottom: 24px;
        }

        .right-title {
            height: 45px;
            line-height: 45px;
            background-color: #49b1f5;
            border-radius: 8px 8px 0 0;
            padding-left: 32px;
            color: white;
        }
    }

    .catalog {
        margin-left: 24px;
        margin-top: 24px;
    }
}

.article-list {
    a:hover{
        color: #8e8cd8 !important;
    }
    li {
        float: left;
        width: 30%;
        margin-left: 25px;
        margin-top: 25px;

        img {
            width: 100%;
        }

        .article-item-info {
            line-height: 1.7;
            font-size: 15px;
            color: #65615f;
            a {
                color: #65615f;

            }
        }

        .tag-wrapper {
            .tag-btn {
                display: inline-block;
                color: #fff !important;
                font-size: 0.725rem;
                line-height: 22px;
                height: 22px;
                border-radius: 10px;
                padding: 0 12px !important;
                background: linear-gradient(to right, #bf4643 0%, #6c9d8f 100%);
                opacity: 0.6;
                margin-right: 0.5rem;
                margin-top: 0.5rem;
                cursor: pointer;
            }
        }

    }

}