.homePage {
  width: 100%;
  height: 100vh;
  padding-top: 70px;
  position: relative;
  background: url('../../images/messageBg.png') center center / cover no-repeat;

  .screen {
    height: 100%;
    width: 100%;
  }
}

.message-container {
  position: absolute;
  width: 360px;
  top: 35%;
  left: 0;
  right: 0;
  text-align: center;
  // z-index: 5;
  margin: 0 auto;
  color: #fff;

  .message-title {
    color: #eee;
    animation: title-scale 1s;
    font-weight: bold !important;
    font-size: 2em !important;
  }

  .message-input-wrapper {
    display: flex;
    justify-content: center;
    height: 2.5rem;
    margin-top: 2rem;
  }

  .message-input-wrapper input {
    outline: none;
    width: 70%;
    border-radius: 20px;
    background-color: transparent;
    height: 100%;
    padding: 0 1.25rem;
    color: #eee;
    border: #fff 1px solid;
  }

  .message-input-wrapper input::-webkit-input-placeholder {
    color: #eeee;
  }

  .message-input-wrapper button {
    outline: none;
    height: 100%;
    border-radius: 20px;
    background-color: transparent;
    color: #fff;
    padding: 0 1.25rem;
    border: #fff 1px solid;
  }
}