.rightside {
    z-index: 4;
    position: fixed;
    right: -38px;
    bottom: 85px;
    transform: translateX(-38px);
    transition: all 0.5s;
  }
 
  .rightside-icon{
    display: block;
    margin-bottom: 2px;
    width: 40px;
    height: 30px;
    border-radius: 10px 0 0 10px;
    background-color: #49b1f5;
    color: #fff;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    cursor: pointer;
  }
  .rightside-icon:hover{
    background-color: #ff7242;
  }